<table class="table table-bordered">
    <tbody>
      <tr>
        <td>Filter Data:</td>
        <td>
          <select>
            <option>By Name</option>
            <!--<option>By Age</option>
            <option>By Department</option>-->
          </select>
          <input type="text" [formControl]="filterControl" placeholder="filter" > </td>
        <td> Sort By
          <select>
            <option>Name</option>
            <!--<option>Age</option>
            <option>Department</option>-->
          </select>
        </td>
      </tr>
    </tbody>
  </table>